<md-grid-list
        md-cols-xs="1"
        md-cols-sm="2"
        md-cols-md="4"
        md-cols-gt-lg="6"
        md-row-height="16:9"
        md-gutter="12px" md-gutter-gt-sm="8px" >

    <md-grid-tile md-rowspan="1" md-colspan="1" ng-repeat="i in images" >
        <div class="thumb" style="background-image: url('../{{ i.thumb }}')" ng-click="openGallery($index)" ></div>
        <!--<img class="thumb" ng-src="{{ i.thumb }}" ng-click="openGallery($index)" alt="Image {{ $index + 1 }}">-->
        <md-grid-tile-footer>{{i.description}}</md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>
<div class="ng-overlay" ng-show="opened">
</div>
<div class="ng-gallery-content" unselectable="on" ng-show="opened" ng-swipe-left="nextImage()"
     ng-swipe-right="prevImage()">
    <div class="uil-ring-css" ng-show="loading">
        <div></div>
    </div>
    <a href="{{getImageDownloadSrc()}}" target="_blank" ng-show="showImageDownloadButton()" class="download-image"><i
            class="fa fa-download"></i></a>
    <a class="close-popup" ng-click="closeGallery()"><i class="fa fa-close"></i></a>
    <a class="nav-left" ng-click="prevImage()"><i class="fa fa-angle-left"></i></a>
    <img ondragstart="return false;" draggable="false" ng-src="{{ img }}" ng-click="nextImage()" ng-show="!loading"
         class="effect"/>
    <a class="nav-right" ng-click="nextImage()"><i class="fa fa-angle-right"></i></a>
    <span class="info-text">{{ index + 1 }}/{{ images.length }} - {{ description }}</span>
    <div class="ng-thumbnails-wrapper">
        <div class="ng-thumbnails slide-left">
            <div ng-repeat="i in images">
                <img ng-src="{{ i.thumb }}" ng-class="{'active': index === $index}" ng-click="changeImage($index)"/>
            </div>
        </div>
    </div>
</div>
